<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link th:href='@{/CSS/style.css}' rel='stylesheet'>
	<link th:href='@{/CSS/bootstrap.min.css}' rel='stylesheet'>
</head>
<body>
<div th:insert="top"></div>
<div th:insert="all"></div>
		<div class="fluid-container my-4 mx-2">
			<div class="card" style="background-color:rgba(0,0,0,0.6);">
				<div class="card-body text-white">
					<div class="dvv" th:if="${clist.empty}">
						<label class="laa">Sorry, Category list is empty</label>
					</div>
					<div th:if="${!clist.empty}">
						<table class="table text-white">
							<thead>
								<tr>
									<th class="head">Category Id</th>
									<th class="head">Category</th>
									<th class="head">Description</th>
									<th class="head" style="color:#EE82EE">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="cat:${clist}">
									<td th:text="${cat.categoryid}"></td>
									<td th:text="${cat.category}"></td>
									<td th:text="${cat.description}"></td>
									<td>
										<a th:href="@{edit(categoryid=${cat.categoryid})}" style="color:#F0E68C">Edit |</a>
										<a th:href="@{remove(categoryid=${cat.categoryid})}" style="color:#F0E68C"> Remove</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>	
				<div class="dvv">
					<a class="btn btn-success font-weight-bold" href="add">Add new Category</a>
					<a class="btn btn-warning font-weight-bold" href="../home">Back</a>
				</div>
		</div>
</body>
</html>